<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Blog</title>
  </head>

  <body>
    <%- include('partials/header.ejs') %>
    <div class="main container mt-5">
      <div class="main-left">
        <div class="main-title text-center">
          <h2>Блоги по программированию</h2>
          <p>
            Популярные и лучшие публикации по программированию для начинающих и
            профессиональных программистов и IT-специалистов.
          </p>
        </div>
        <div class="blogs">
          <div class="card">
            <img
              src="<%= blog.image  %>"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <a class="card_title_text"><%= blog.title  %></a>
              <a class="mb-5">
                <%= blog.description  %>
              </a>
              <div class="card-info">
                <span><i class="fa-solid fa-calendar"></i>26.06.2020</span>
                <span><i class="fa-solid fa-eye"></i>21</span>
                <span><i class="fa-solid fa-comment"></i>4</span>
                <span><i class="fa-solid fa-comments"></i><%= blog.category.name %></span>
                <span><i class="fa-solid fa-user"></i><%= blog.author.full_name %></span>
              </div>
            </div>
          </div>
          <div class="comments mt-4">
            <h2 class="comments-number"><%= comments.length  %> комментария</h2>
            <% if(user && user._id){  %>
            <div class="comment-add mb-5">
              <form class="mt-5" onsubmit="sendComment(event)">
                <textarea
                  class="form-control"
                  id="comment_text"
                  placeholder="Введите текст комментария"
                ></textarea>
                <input type="hidden" value="<%= user._id%>" id="comment_author">
                <input type="hidden" value="<%= blog._id%>" id="comment_blog">
                <button type="submit" class="btn accent-btn mt-2">Отправить</button>
              </form>
            </div>
            <% }else{ %>
              <p class="mt-3 mb-5">
                <a href="/login">Войдите</a> или 
                <a href="/register">Зарегистрируйтесь</a>
                чтобы оставить комментарий
              </p>
            <% } %>
            <div class="comments-block">
              <% comments.forEach(comment => { %>
              <div class="comment mb-5">
                <div class="comment-title">
                  <img
                    src="/image/avatar.png"
                    alt=""
                  />
                  <h3><%= comment.authorId.full_name  %></h3>
                </div>
                <p>
                 <%= comment.text  %>
                </p>
              </div>
              <% }) %>
            </div>
            
            <!-- <div class="comment-none accent-color mt-3">
              <p>
                Чтобы оставить комментарий <span>зарегистрируйтесь</span>, или
                <span>войдите</span> в аккаунт.
              </p>
            </div> -->
          </div>
        </div>
      </div>
      <div class="aside">
        <h2>Категории</h2>
        <div class="mt-5">
          <% categories.forEach(category => { %>
            <a
              class="aside-category"
              href="/?category=<%= category.key %>"
              ><%= category.name %></a
            >
            <% }) %>
        </div>
      </div>
    </div>
    <%- include('partials/scripts.ejs')%>
  </body>
</html>
