<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Blog</title>
  </head>

  <body>
    <%- include('partials/header.ejs') %>
    <div class="main container mt-5">
      <div class="main-left">
        <div class="main-title text-center">
          <h2>Блоги по программированию</h2>
          <p>
            Популярные и лучшие публикации по программированию для начинающих и
            профессиональных программистов и IT-специалистов.
          </p>
        </div>
        <%
          if(blogs.length > 0){ 
        %>

        <div class="blogs">
          <% 
            blogs.forEach(blog => { 
          %>
          <div class="card mb-5">
            <a href="/detail/<%= blog._id%>">
              <img
              src="<%= blog.image %>"
              class="card-img-top"
              alt="..."
            />
            </a>
            <div class="card-body">
              <a
                href="/detail/<%= blog._id%>"
                class=""
                ><%= blog.title %></a
              >
              <a href="/detail/<%= blog._id%>" class="">
                <%= blog.description %>
              </a>
              <div class="card-info">
                <span><i class="fa-solid fa-calendar"></i>26.06.2020</span>
                <span><i class="fa-solid fa-eye"></i>21</span>
                <span><i class="fa-solid fa-comment"></i>4</span>
                <span><i class="fa-solid fa-comments"></i><%= blog.category.name %></span>
                <a href=""><i class="fa-solid fa-user"></i><%= blog.author.full_name %></a>
              </div>
            </div>
          </div>

          <% }) %>
        </div>

        <div class="pages">
          <% 
            for (let i = 0; i < pages; i++) {
          %>
            <a href="?page=<%= i%>"><%= i + 1%></a>
          <%
            } 
          %> 
        </div>

        <% }else{ %>
          <h2 class="zeroBlogs"> 0 блогов</h2>
        <% } %>
        
      </div>
      <div class="aside">
        <h2>Категории</h2>
        <div class="">
          <% categories.forEach(category => { %>
          <a
            class="aside-category"
            href="?category=<%= category.key %>"
            ><%= category.name %></a
          >
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
